@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");

body {
  background-color: #b51458;
  margin: 0;
  user-select: none;
}

#quiz_container {
  height: 600px;
  width: 1200px;
  background-color: #dd5674;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 233px;
}

#question_container {
  height: 100px;
  width: 1118px;
  background-color: #f1c1bf;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 46px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

.answer_container {
  height: 100px;
  width: 500px;
  background-color: #312413;
  border-radius: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #f1c1bf;
  cursor: pointer;
}

#ans1 {
  position: absolute;
  top: 237px;
  left: 30px;
}

#ans2 {
  position: absolute;
  top: 237px;
  right: 30px;
}

#ans3 {
  position: absolute;
  top: 420px;
  left: 30px;
}

#ans4 {
  position: absolute;
  top: 420px;
  right: 30px;
}

.answer_container:hover {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  background-color: black;
}

#start_container {
  height: 600px;
  width: 1200px;
  background-color: #dd5674;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 233px;
  text-align: center;
}

#start_container > span {
  font-family: "Freehand", cursive;
  font-size: 160px;
  color: #f1c1bf;
}

#start_button {
  background-color: #f1c1bf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 370px;
  height: 100px;
  width: 700px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #312413;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

#start_button:hover {
  box-shadow: 8px 8px 24px 0px black;
}

#result_container {
  height: 600px;
  width: 1200px;
  background-color: #dd5674;
  border-radius: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 233px;
}

#result_container > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  font-family: "Freehand", cursive;
  font-size: 130px;
}

#background_results {
  height: 300px;
  width: 800px;
  background-color: #f1c1bf;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 209px;
}

#background_results span {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
  margin-left: 40px;
}
